name: Continuous Integration

on:
  push:
    branches: [ "main" , "devel" ]
  pull_request:
    branches: [ "main" , "devel" ]

jobs:
    analyze:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: ./onconutricare
        strategy:
            fail-fast: false
            matrix:
              sdk: [stable, beta]
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Dart
              uses: dart-lang/setup-dart@v1
              with:
                sdk: ${{ matrix.sdk }}
            - id: install
              name: Install dependencies
              run: dart pub get
            - name: Check formatting
              run: dart format --output=none --set-exit-if-changed .
              if: always() && steps.install.outcome == 'success'
            - name: Analyze code
              run: dart analyze --fatal-infos
              if: always() && steps.install.outcome == 'success'

    test:
        needs: analyze
        defaults:
          run:
            working-directory: ./onconutricare
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest]
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                channel: 'stable'
            - id: install
              name: Install dependencies
              run: flutter pub get
            - name: Run flutter tests
              run: flutter test
              if: always() && steps.install.outcome == 'success'
            